
#root{
  margin: 0;
  font-family: 'Playfair Display', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-left:100 px;
  padding:350px ;
  height: 100vh;
  max-width: 30%;
   margin: auto;
   text-align: center;
  background-image: ;
  font-size: 170%;
  border: 12px solid;
  font-weight: 900;
color:red;

}

select {
  
  size: 100px;
  margin-bottom: 100px; 
  background-color:white;
  border-radius: 20px;
  font-weight: 900;
}
#submit-input{

  border: 1px solid black; 
  margin-left: 10px;
  background-color: white light ;
  color:red;
  text-decoration: 2px solid underline;
  font-weight: 900;
  font-size: large;
}
.labels{
  background-color: azure;
  border-style: solid;
  border-width: thin;
  
}
.tab{
  position: absolute;
  left: 410px;
  top: 639px;
  padding-left: 20px;
  height: 30px;
}
input{
  color:red;
  font-size: 58%;
}
h3{
  border-top: 5px double black;
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px red;
}
#deposit-selection, #cashback-selection,#no-selection{
  font-family: 'Playfair Display', serif;
  
  font-size: 120%;
}